*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    position: relative;
    margin: 0 auto;
   
}
.source {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.skirt{
    position: absolute;
    inset: 0;
    /* background: url('./imgs/woman_skirt.png') no-repeat 50% 50% cover; */
    background-color: green;
    mask: url('./imgs/woman_skirt.png') no-repeat 50% 50% / cover;
    mix-blend-mode: multiply; /* 混合模式 */
}